{"filter":false,"title":"requirements.txt","tooltip":"/cdkworkshop/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1599600004552,"hash":"8e0f9ef7c9c5da394b1e66ab0bf404a23644b01d"}